PORT=3001

MONGODB_URL=mongodb+srv://medx-admin:Longduong24041996@development.7rplj.mongodb.net/Development?retryWrites=true&w=majority

# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

SMTP_HOST=pro62.emailserver.vn
SMTP_PORT=465
SMTP_USERNAME=support@medx.vn
SMTP_PASSWORD=MedX@0316785682
EMAIL_FROM="medx.vn" <support@medx.vn>